
.note {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

#map {
    width: 100%;
    height: 750px;
  z-index: 1;
}

#map_full {
  width: 100%;
  height: 700px;

}

#chartoverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 500px; /* Full width (cover the whole page) */
  height: 275px; /* Full height (cover the whole page) */
  /*top: 25%;*/
  /*left: 25%;*/
  /*right: 0;*/
  /*bottom: 0;*/

  background-color: rgb(222, 242, 249); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.bordered {
  border: rgb(0, 123, 255);
  border-width: thick;
  border-style: solid;
  border-radius: 10px;
}