sqlalchemy>=1.4.0,<1.5.0
python-dotenv>=0.21.0,<0.22.0
psycopg2
pymssql
pyodbc
sqlalchemy_utils>=0.38.0,<0.39.0
geoalchemy2>=0.12.0,<0.13.0
shapely
geojson_pydantic
pyproj
python-dotenv
reportlab
numpy
celery
redis
